<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  
  <channel>

    <title>Ed's Private Feed</title>
    <description>For transferring shit to his iPhone via podcast</description>
    <link>http://www.somefoolnotion.com</link>
    <language>en-us</language>
    <copyright>Copyright 2007</copyright>
    <lastBuildDate>Sun, 02 Mar 2013 11:30:00 +0000</lastBuildDate>
    <pubDate>Sun, 02 Mar 2013 11:30:00 +0000</pubDate>
    <docs>http://www.somefoolnotion.com</docs>
    <webMaster>e.jefferson@gmail.com</webMaster>

  
<% @links.each do |link| %>
  


<item>
<title><%= link.gsub(".mp3","").gsub("%20"," ") %></title>
<link></link>
<guid>http://somefoolnotion.com/private/<%= link %></guid>
<description></description>
<enclosure url="http://somefoolnotion.com/private/<%= link %>" type="audio/mpeg"/>
<category>Podcasts</category>
<pubDate>http://www.somefoolnotion.com</pubDate>
</item>

<% end %>


</channel>

</rss>